<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/stylept2.css">
<link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<!--  <script>function myFunction() {-->
<!--  var x = document.getElementById("collapseExample");-->
<!--  if (x.style.display === "none") {-->
<!--    x.style.display = "block";-->
<!--  } else {-->
<!--    x.style.display = "none";-->
<!--  }-->
<!--}-->
</script>

<head>

</head>
<body>
  <div class="first">
    <div class="container contnav">
    <nav class=" pt-2 pb-2 contnav navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="logonav" href="#" >
        <img src="assets/images/logo.png" alt="" width="160px" height="42px">
      </a>
       <button class="navbar-toggler navbton" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
    <!--  <a class="navbar-brand" href="#">Navbar</a>-->
      
    
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class=" navbar-nav ml-auto">
            <li class="nav-item dropdown">
            <a class="px-2 nav-link dropdown-toggle tatti" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About GDC
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="about.html">About</a>
              <a class="dropdown-item" href="#">community guidelines</a>
              <a class="dropdown-item" href="#">Our Fests</a>
               <a class="dropdown-item" href="#">Our stories</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 tatti" href="#">Chapters <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link tatti px-2" href="#">Upcoming Events</a>
          </li>
    
    <li>
       <a class="d-none d-lg-block px-2 tatti" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
         <i style ="color:white; margin-top: 12.25px;"class="fa fa-search" aria-hidden="true"></i> Search
       </a>
      <div class=" collapse" id="collapseExample">
      <div class="card card-body searchposition"style="z-index: 50;">
    
        <form class="form my-2 my-lg-0">
          <input  style=" background-color: black; position: relative;" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> <a class="clo px-2 " type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <span style="color:white;" aria-hidden="true">&times;</span>
          </a>
    
        </form>
    
      </div>
    </div>
    
    </li>
            <li class="nav-item">
            <a class="nav-link px-2 tatti" href="sign up.html">log in</a>
          </li>
    
        </ul>
      </div>
    </nav>
    </div>
    </div>
<div class="sec">
<div class="blur"></div>
<div class="container">
  <div class="row hel py-5">
    <div class="col-md-12 hel">
        <h1 style="color: whitesmoke;">GDG Asheville</h1>
        <h6 style="color: whitesmoke;" class="py-3">15 Group Members</h6>
        
        <div class="ficon py-1">
            <div class="icon-flex"style="float: left;">
                <div class="icon-wrapper"><a href="" class="pb-4"><i class="fa fa-twitter dogg"></i></a></div>
              </div>
              <div class="icon-flex px-3" style="float: left;">
                <div class="icon-wrapper"><a href="" class="pb-4"><i class="fa fa-linkedin dogg"></i></a></div>
              </div>
              <div class="icon-flex" style="float: left;">
                <div class="icon-wrapper"><a href="" class="pb-4"><i class="fa fa-instagram dogg"></i></a></div>
              </div>
        </div>

      
    </div>
  </div>
</div>
</div>
<div class="second">
  <div class="container">
    <div class="row py-2">
      <div class="col-md-12 py-1 " style="text-align: center;">
        <button type="button" class="btn btn-dark">Join Us</button>
      </div>
    </div>
  </div>
</div>
<div id="about">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-12">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                      <a class="nav-link tatti2" href="#">About</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link tatti2" href="#">Upcoming Events</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link tatti2" href="#">Organizer</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link  tatti2" href="#"> Video</a>
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</div>
<div class="jb">
  <div class="container p-4">
    <h1>About</h1>
    <br/>
      <p>Bhopal community-run meetup for developers interested in resources and technology from Google Developers.</p>
      <p>Disclaimer: GDG Bhopal is an independent group; our activities and the opinions expressed here should in no way be linked to Google, the corporation. To learn more about the GDG program.</p>
    <br/>
    <br/>
    <br/>


    <h1>Upcoming Events</h1>
    <br/>
      <p style="font-size:16px; font-weight: 650;">There are no upcoming events at the moment. Please check again soon.</p>
    <br/>
    <br/>
    <br/>


    <!--Past Events Section-->
    <h1>Past Events</h1>
    <div class="row py-2 justify-content-center">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <img class="card-img-top rounded-circle mx-auto d-block" src="assets/images/img1.png" alt="Card image cap">
                  <div class="card-block">
                    <p class="card-text date">MAR 20,2021</p>
                    <h6 class="card-title" style="font-size:16px; font-weight: 650;">International Women's Day</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, magni.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <img class="card-img-top rounded-circle mx-auto d-block" src="assets/images/img1.png" alt="Card image cap">
                  <div class="card-block">
                    <p class="card-text date">MAR 20,2021</p>
                    <h6 class="card-title" style="font-size:16px; font-weight: 650;">International Women's Day</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, magni.</p>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <img class="card-img-top rounded-circle mx-auto d-block" src="assets/images/img1.png" alt="Card image cap">
                  <div class="card-block">
                    <p class="card-text date">MAR 20,2021</p>
                    <h6 class="card-title" style="font-size:16px; font-weight: 650;">International Women's Day</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, magni.</p>
                  </div>
                </div> 
              </div>
              <div class="col-md-6">
                <div class="card">
                  <img class="card-img-top rounded-circle mx-auto d-block" src="assets/images/img1.png" alt="Card image cap">
                  <div class="card-block">
                    <p class="card-text date">MAR 20,2021</p>
                    <h6 class="card-title" style="font-size:16px; font-weight: 650;">International Women's Day</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, magni.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="row py-2 justify-content-center">
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <img class="card-img-top rounded-circle mx-auto d-block" src="assets/images/img1.png" alt="Card image cap">
                  <div class="card-block">
                    <p class="card-text date">MAR 20,2021</p>
                    <h6 class="card-title" style="font-size:16px; font-weight: 650;">International Women's Day</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, magni.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <img class="card-img-top rounded-circle mx-auto d-block" src="assets/images/img1.png" alt="Card image cap">
                  <div class="card-block">
                    <p class="card-text date">MAR 20,2021</p>
                    <h6 class="card-title" style="font-size:16px; font-weight: 650;">International Women's Day</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, magni.</p>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <div class="col-lg-6">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <img class="card-img-top rounded-circle mx-auto d-block" src="assets/images/img1.png" alt="Card image cap">
                  <div class="card-block">
                    <p class="card-text date">MAR 20,2021</p>
                    <h6 class="card-title" style="font-size:16px; font-weight: 650;">International Women's Day</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, magni.</p>
                  </div>
                </div> 
              </div>
              <div class="col-md-6">
                <div class="card">
                  <img class="card-img-top rounded-circle mx-auto d-block" src="assets/images/img1.png" alt="Card image cap">
                  <div class="card-block">
                    <p class="card-text date">MAR 20,2021</p>
                    <h6 class="card-title" style="font-size:16px; font-weight: 650;">International Women's Day</h6>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, magni.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row justify-content-center">
      <button type="button" class="btn btn-dark">Load More</button>
    </div>



    <!--Organizer Section-->
    <br/>
    <br/>
    <br/>
    <div class="row justify-content-center">
      <h1>Organizers</h1>
      <br/>
      <br/>
      <br/>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <img class="card-img-top rounded-circle mx-auto d-block" src="assets/images/profile img.png" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-profile-name">Organizer Name</h4>
                <p class="card-prof-designation">GDG Organizer</p>
                  <a href="about.html" style="color:white;"><button type="button" class="btn btn-dark">View Profile</button></a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <img class="card-img-top rounded-circle mx-auto d-block" src="assets/images/profile img.png" alt="Card image cap">
              <div class="card-block">
                <h4 class="card-profile-name">Organizer Name</h4>
                <p class="card-prof-designation">GDG Organizer</p>
       <a href="about.html" style="color:white;"><button type="button" class="btn btn-dark">View Profile</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <img class="card-img-top rounded-circle mx-auto d-block" src="assets/images/profile img.png" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-profile-name">Organizer Name</h4>
                  <p class="card-prof-designation">GDG Organizer</p>  
                    <a href="about.html" style="color:white;"><button type="button" class="btn btn-dark">View Profile</button></a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <img class="card-img-top rounded-circle mx-auto d-block" src="assets/images/profile img.png" alt="Card image cap">
                <div class="card-block">
                  <h4 class="card-profile-name">Organizer Name</h4>
                  <p class="card-prof-designation">GDG Organizer</p>
                  <a href="about.html" style="color:white;"><button type="button" class="btn btn-dark">View Profile</button></a>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <div class="row justify-content-center">
      <button type="button" class="btn btn-dark">Contact Us</button>
    </div>

  </div>
</div>
</div>
<div id="last">
  <footer>
      <div class="container">
      <div class="row py-5 px-4">
          <div class="col-md-4 pb-3">
              <a class="logo" href="#"style="float:left;">
                  <img src="assets/images/logo.png" alt="" width="190px" height="50px">
              </a>
               
          </div>
          <div class="col-md-4 pb-3 px-5 do" style="">
              <h5 style="color: rgb(244, 246, 248); margin-bottom: 1rem;">Quick Links</h5>
                <a class="logo" href="#">
                  <i class="fas fa-chevron-right"></i><i class="yo">lalskljskjskkl</i>
                </a>
                <a class="logo" href="#">
                  <i class="fas fa-chevron-right"></i><i class="yo">lalskljskjskkl</i>
                </a>
                <a class="logo" href="#">
                  <i class="fas fa-chevron-right"></i><i class="yo">lalskljskjskkl</i>
                </a>
                <a class="logo" href="#">
                  <i class="fas fa-chevron-right"></i><i class="yo">lalskljskjskkl</i>
                </a>
                <a class="logo" href="#">
                  <i class="fas fa-chevron-right"></i><i class="yo">lalskljskjskkl</i>
                </a>
                <a class="logo" href="#">
                  <i class="fas fa-chevron-right"></i><i class="yo">lalskljskjskkl</i>
                </a>
          </div>
          <div class="col-md-4 foot pb-3 px-5 do"style="">
              <h5 style="color: aliceblue;margin-bottom: 1rem;">Social</h5>
              <a href=""><i class="fa fa-linkedin dog"></i></a>
              <a href=""><i class="fa fa-twitter dog"></i></a>       
              
              <a href="" ><i class="fa fa-github dog"></i></a>  
    
              <a href=""><i class="fa fa-facebook dog"></i></a>
          </div>
      </div>
          <div class="row px-4">
              <div class="col-md-6">
                  <div class="" style="color: aliceblue;"><p>@ 2030 ASPER </p></div>
              </div>
              <div class="col-md-6">
                  <div class="laline" style="color: aliceblue;"> <p>Powered By ASPER</p></div>
              </div>
          </div>
      </div>
  </footer>
  </div>


</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>
